<footer>
	<nav class="round">
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", '#' %></li>
			<li><a href="http://www.sotophone.com/">News</a></li>
		</ul>
	</nav>
</footer>